* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section-banner {
    height: 100%;    
    width: auto;
    display: flex;
    justify-content: space-between;
}

.container-text {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 80px 0px 50px 100px;
    color: #6389d4;
    gap: 20px;
}

.greeting-text {
    font-size: 2rem;
}

.introduce{
    font-size: 2.5rem;
    line-height: 80px;
    color: #fabfb9;
}
.container-img {
    width: 500px;
    height: 500px;
    margin-right: 150px;
    border-radius: 50%;
    background-color: #fabfb9;
    overflow: hidden;
}

.container-img img {
    width: 500px;
    height: auto;
}