* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section-passion {
    height: 100vh;    
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 200px 100px;
}
.passion-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.passion-box1, .passion-box2, .passion-box3 {
    width: 400px;
    height: 300px;
    background-color: #fabfb9;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.passion-img {
    height: 50%;
    margin-bottom: 20px;
}

.topic {
    display: flex;
    gap: 10px;
    letter-spacing: 5px;
}




